.container{
    position: relative;
    width: 100%;
	height: 50px;
}

.searchBox {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform:  translate(-50%,50%);
    background: #a8dadc;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

.searchBox:hover > .searchButton {
  background: #1d3557;
  color : #1d3557;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
	border: none;
    background: #e63946 ;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color:  #1d3557;    
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.searchInput:focus {
    width: 240px;
    padding: 0 6px;
}

@media only screen and (max-width: 600px) {
    .searchBox{
        width: 300px;
    }

    .searchInput {
        width: 240px;
        padding: 0px 0px;
    }
    
}